i {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
  font-size: 23px !important;
}

.social {
  font-size: 27px !important;
}

.tags {
  font-size: 12px !important;
}

.icon-social {
  font-family: 'entypo-social';
  font-size: 27px !important;
  display: block;
  position: relative;
}